@use "../../styles/colors.scss";
@use "../../styles/measures.scss";

.container {
    min-height: 100vh;
    height: fit-content;
    padding-top: measures.$section-pt;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-bottom: 2rem; //temporário
}

.title {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: colors.$gray;
    text-align: center;
    font-size: measures.$title;
    margin-bottom: 1rem;
}

.contentDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.subtitle {
    display: flex;
    width: 100%;
    place-content: center;

    p {
        font-size: 26px;
        font-weight: bold;
        color: colors.$darkGray;
        filter: brightness(.7);
        letter-spacing: 2px;
        text-transform: uppercase;
    }


    .bullet {
        margin: 0 .4rem;
        color: colors.$darkGray;
        filter: brightness(.7);
    }
}

.text {
    width: 845px;
    text-align: justify;
    margin: 5rem auto 8rem auto;
    word-spacing: 3px;
    word-break: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    text-transform: uppercase;
    font-size: 18px;
}

.btnDiv {
    margin: auto;
    display: flex;
    gap: 2rem;
}

.btn {
    padding: 0rem;
    border: none;
    background-color: transparent;
    filter: opacity(.3);
    transition: all .3s ease;

    &:hover{
        filter: opacity(1);
    }
}

.icon {
    height: 50px;
    width: auto;
}

.listDiv {
    display: none;
}

@media screen and (max-width: 1210px) {
    .subtitle {
        p {
            font-size: 22px;
        }
    }

    .text {
        font-size: 17px;
    }

    .icon {
        height: 40px;
    }
}

@media screen and (max-width: 980px) {
    .container {
        gap: 4rem;
    }

    .subtitle {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .text {
        margin: 4rem auto 6rem auto;
        padding: 0 2rem;
        width: auto;
        font-size: 16px;
    }
}

@media screen and (max-width: 560px) {
    .container{
        gap: 3rem;
    }
    .subtitle {
        display: none;
    }

    .listDiv {
        display: block;

        .list {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            place-items: center;
            gap: .5rem;

            li {
                list-style: none;
                margin: 0;

                p {
                    margin: 0;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: colors.$darkGray;
                    filter: brightness(.7);
                    letter-spacing: 1px;
                    font-size: 22px;
                    text-align: center;
                }
            }
        }

    }

    .text {
        padding: 0 1.5rem;
        font-size: 15px;
        margin: 3.5rem 0 5rem 0;
    }
    .icon{
        height: 38px;
    }
}

@media screen and (max-width: 435px) {
    .container {
        padding-top: 10rem;
    }

    .title {
        font-size: 26px;
    }

    .listDiv{
        .list{
            li{
                p{
                    font-size: 20px;
                }
            }
        }
    }
}