.accordion-button:not(.collapsed) {
    background-color: white !important;
    box-shadow: none !important;
}

.accordion-button:active, .accordion-button:focus{
    box-shadow: none !important;
}

.accordion-body{
    padding-top: .2rem;
    padding-bottom: .2rem;
}