@use "../styles/colors.scss";

.errorDiv{
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    min-height: 100vh;
    background-color: colors.$lightGray;
    gap: 2rem;
    padding: 1rem 0;
}

h1{
    color: colors.$darkGray
}

p{
    font-size: 20px;
    width: fit-content;
    max-width: 80%;
    text-align: justify;
    word-wrap: break-word;
    word-break: break-word;
}

.button{
    padding: 1rem 2rem;

    &:hover{
        background-color: colors.$lightGray;
        color: colors.$darkGray
    }
}