@use "../../styles/colors.scss";;
@use "../../styles/measures.scss";

.container{
    min-height: 100vh;
    height: fit-content;
    padding-top: measures.$section-pt;
    display: flex;
    flex-direction: column;
    gap: 0rem;
}

.contentDiv{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 1rem;
}

.howItWorks{
    text-align: center;
}

.firstAccordion{
    width: 28vw;
    margin: auto;
    border-radius: 50px;
    border: 2px solid #737373a4;
    padding: 1rem;
    background-color: white;
}

.houseImage{
    margin: auto;
    margin-top: 4.5rem;
    filter: opacity(.2);
}

.youReceive{
    text-align: center;
}

.secondAccordion{
    width: 30vw;
    margin: auto;
    padding: 0 1rem;
}

.h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: colors.$gray;
    text-align: center;
    font-size: measures.$title;
}

.h3{
    text-transform: uppercase;
    color: colors.$darkGray;
    font-weight: bold;
    margin-bottom: 3rem;
    letter-spacing: 2px;
}

.h3YR{
    margin-bottom: 2rem;
}

@media screen and (max-width: 1416px) {
    .h3{
        margin-bottom: 2rem;
    }
    .h3YR{
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 1214px){
    .houseImage{
        display: none;
    }
    .contentDiv{
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 1rem;
    }
    .firstAccordion, .secondAccordion{
        width: 40vw;
    }
    .h3{
        font-size: 22px;
        margin-bottom: 2rem;
    }
    .h2{
        font-size: 26px;
    }
}

@media screen and (max-width: 827px) {
    .contentDiv{
        grid-template-columns: 1fr;
        padding: 2rem 1rem;
    }
    .firstAccordion, .secondAccordion{
        width: 100%;
    }
    .youReceive{
        margin-top: 4rem;
    }
}

@media screen and (max-width: 435px) {
    .container{
        padding-top: 10rem;
    }
    .h3{
        font-size: 22px;
    }
}

@media screen and (max-width: 320px) {
    .h2{
        font-size: 23px;
    }
}
