@use "../../styles/colors.scss";;
@use "../../styles/measures.scss";

.container{
    padding-top: measures.$section-pt;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.contentDiv{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 435px) {
    .container{
        padding-top: 10rem;
    }
}