@use "../../styles/colors.scss";;
@use "../../styles/measures.scss";

.container{
    height: fit-content;
    min-height: 100vh;
    padding-top: measures.$section-pt;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    padding-bottom: 2rem; //temporário
}

.contentDiv{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 1rem;
}

.howItWorks{
    text-align: center;
}

.firstAccordion{
    width: 26vw;
    margin: auto;
    border-radius: 50px;
    border: 2px solid #737373a4;
    padding: 1rem;
    background-color: white;
}

.secondAccordion{
    width: 30vw;
    margin: auto;
    padding: 0 1rem;
}

.houseImage{
    margin: auto;
    margin-top: 6rem;
}

.youReceive{
    text-align: center;
}

.h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: colors.$gray;
    text-align: center;
    font-size: measures.$title;
}

.h3{
    text-transform: uppercase;
    color: colors.$darkGray;
    font-weight: bold;
    margin-bottom: 3rem;
    letter-spacing: 2px;
}

@media screen and (max-width: 435px) {
    .container{
        padding-top: 10rem;
    }
}