@use "../../../../styles/colors.scss";

.container {
    background-color: colors.$lightGray;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 3rem;
    place-content: center;
    place-items: center;
}

.title {
    text-align: center;
    font-size: 40px;
}

.result {
    border-top: 1px solid black;
    padding-top: 3rem;
    width: 100%;
    display: flex;
    place-content: center;

    .link {
        text-decoration: none;
        font-size: 28px;

        .btn {
            padding: .5rem 1rem;
            border: 1px solid black;
            border-radius: 10px;
            background-color: colors.$lightGray;
            transition: all .3s ease;
            font-size: 24px;

            &:hover {
                background-color: colors.$gray;
                color: white;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .title{
        font-size: 30px;
    }
    .container{
        gap: 2rem;
        padding: 2rem 0;
    }
}