@use "../../styles/colors.scss";
@use "../../styles/fonts.scss";

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0;
    min-height: 100vh;
    gap: 3rem;
    text-transform: uppercase;
    margin-bottom: 12rem;
}

.title{
    color: colors.$gray;
    font-size: fonts.$title;
}

.list{
    list-style: none;
    text-align: center;
    margin: 0 0 2rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.listItem{
    font-size: 28px;
    letter-spacing: 2px;
}

.link{
    text-decoration: none;
}

@media screen and (max-width: 1000px) {
    .title, .listItem{
        font-size: 26px;
    }
}

@media screen and (max-width: 450px) {
    .title, .listItem{
        font-size: 23px;
    }

    .hero{
        gap: 4rem;
    }

    .logo{
        width: 200px;
        height: auto;
    }
}