@use "../../../styles/colors.scss";

.container{
    position: fixed;
    bottom: 10;
    right: 10;
    z-index: 20;
}

.toastHeader{
    padding: 5px;
}

.toastBody{
    border-radius: 0;
    color: black;
}

.btn{
    background-color: transparent;
    border: none;
    padding: 0;
    height: 25px;
    width: 25px;

    &:hover{
        background-color: transparent;
    }
    
}

.icon{
    width: 25px;
    height: 25px;
    background-color: transparent;
    transition: all .3s ease;
    opacity: .7;

    &:hover{
        opacity: 1;
    }
}

@media screen and (max-width: 1000px){
    .container{
        bottom: auto;
        top: 10;
    }

    .toast{
        border-top-right-radius: 0px;
    }

    .toastBody{
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 10px;
    }
}

@media screen and (max-width: 450px){
    .container{
        top: 10;
        right: -5;
        width: 90vw;
    }
    .toast{
        width: 95%;  
    }
}