@use "../../../styles/colors.scss";

.header{
    background-color: colors.$gray;
    padding: 1rem;
    text-align: center;
    z-index: 2;
}

.arrow{
    position: fixed;
    z-index: 2;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    opacity: .7;
    margin-left: 100px;
    transition: all .3s ease;

    &:hover{
        opacity: .9;
    }
}

@media screen and (max-width: 700px) {
    .arrow{
        display: none;
        pointer-events: none;
    }
}

@media screen and (max-width: 435px) {
    .logo{
        width: 100px;
        height: 100px;
    }
}
