@use "../../styles/colors.scss";

.container {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    padding: 1rem;
}

.title {
    text-align: center;
    color: colors.$darkGray;
}

.text {
    text-align: center;
}

.imgDiv {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid black;
}

.btn {
    padding: .5rem;
    background-color: rgba(143, 0, 0, 0.973);
    color: white;
    transition: all .3s ease;
    border: 1px solid black;
    border-top: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    &:hover {
        background-color: red;
    }
}

@media screen and (max-width: 800px){
    .title{
        font-size: 26px;
    }
}

@media screen and (max-width: 340px){
    .container{
        padding: 1rem;
    }
    .img{
        width: 230px;
        height: 335px;
    }
}